---
import favicon from "/favicon.ico";
import "/src/styles/global.css";

interface Props {
  pageTitle: string;
  keywords: string;
}

const { pageTitle, keywords } = Astro.props;
const font = "https://fonts.googleapis.com/css2?family=Russo+One&display=swap";
const fontAwesome =
  "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    <meta name="generator" content={Astro.generator} />
    <link href={font} rel="stylesheet" />
    <link href={fontAwesome} rel="stylesheet" />
    <link href={favicon} rel="icon" type="image/x-icon" />
    <meta name="author" content="Valerie Angulo" />
    <meta
      name="description"
      content="Vangular: Art and design brand for the existential and absurd."
    />
    <meta name="keywords" content={keywords} />
    <meta property="og:title" content={pageTitle} />
    <meta
      property="og:description"
      content="Vangular: Art and design brand for the existential and absurd."
    />
    <title>{pageTitle}</title>
  </head>
  <body>
    <slot />
    <script>
      import "../scripts/main.js";
    </script>
  </body>
</html>
